* {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  width: 100vw;
  display: flex;
  margin-top: 0px;
}

#container {
  margin: auto;
  display: inline-block;
  align-items: center;
  align-content: center;
  width: min-content;
  padding: 16px 16px 40px 16px
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
  border-radius: 20px;
  background-color: white;
}

#qr-code img {
  border-radius: 10px;
  width: 288px;
  height: 288px;
}

.content {
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-flow: column wrap;
  font-size: 15px;
  padding-top: 24px;
}

.title {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.text {
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}
