* {
  border: 1px solid black;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#container {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-flow: column wrap;
  column-gap: 24px;
  /* flex-direction: column;
  flex-wrap: wrap; */
  padding: 16px;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
  border-radius: 20px;
}

#qr-code img {
  width: 288px;
  height: 288px;
}

.content {
  text-align: center;
  font-size: 15px;
  padding-bottom: 40px;
}

.title {
  width: 100%;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}

.text {
  width: 100%;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
}
